@model RailwayReservationAndManagementSystem.Models.TrainSchedule

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Detail information of train schedule</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item">Train Schedule</li>
                <li class="breadcrumb-item active" aria-current="page">Details</li>
            </ol>
        </div>
        <form>
            <div class="form-group row">
                <b><label for="staticEmail" class="col-sm-12 col-form-label"> Train Name:</label></b>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=" @Html.DisplayFor(model => model.Train.TrainName)">
                </div>
            </div>
            <div class="form-group row">
                <b><label for="staticEmail" class="col-sm-12 col-form-label">Station Name:</label></b>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=" @Html.DisplayFor(model => model.Station.Name)">
                </div>
            </div>
            <div class="form-group row">
                <b><label for="staticEmail" class="col-sm-12 col-form-label"> @Html.DisplayNameFor(model => model.StartStationID):</label></b>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=" @Html.DisplayFor(model => model.StartStationID)">
                </div>
            </div>
            <div class="form-group row">
                <b><label for="staticEmail" class="col-sm-12 col-form-label"> @Html.DisplayNameFor(model => model.EndStationID):</label></b>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=" @Html.DisplayFor(model => model.EndStationID)">
                </div>
            </div>

            <div class="form-group row">
                <b><label for="staticEmail" class="col-sm-12 col-form-label"> @Html.DisplayNameFor(model => model.Distances):</label></b>
                <div class="col-sm-1">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=" @Html.DisplayFor(model => model.Distances)">
                </div>
            </div>
            <div class="form-group row">
                <b><label for="staticEmail" class="col-sm-12 col-form-label"> @Html.DisplayNameFor(model => model.DepartureTime): </label></b>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=" @Html.DisplayFor(model => model.DepartureTime)">
                </div>
            </div>
            <div class="form-group row">
                <b><label for="staticEmail" class="col-sm-12 col-form-label"> @Html.DisplayNameFor(model => model.ArrivalTime):</label></b>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=" @Html.DisplayFor(model => model.ArrivalTime)">
                </div>
            </div>

            <div class="form-group row">
                <b><label for="staticEmail" class="col-sm-12 col-form-label"> @Html.DisplayNameFor(model => model.Status):</label></b>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=" @ViewBag.Status">
                </div>
            </div>

        </form>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TrainID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>

